<%- include('../../partials/header.ejs')%>

<body>
  <%- include('../../partials/navbar.ejs')%>
  <div class="container">
    <div class="card mt-3">
      <div class="card-header"><h5>Edição de Categoria:</h5></div>
      <div class="card-body">
        <form class="form-group" method="POST" action="/categories/update">
          <input
            type="text"
            name="title"
            class="form-control"
            placeholder="Título Artigo"
            value="<%= article.title %>"
          />
          <textarea name="body" placeholder="Digite seu artigo" id="article">
            <%= article.body %>
          </textarea>
          <select class="form-control mt-3" name="category"></select>
          <button class="btn btn-warning mt-2" type="submit">Atualizar</button>
        </form>
      </div>
    </div>
  </div>
</body>

<%- include('../../partials/footer.ejs')%>

<script src="https://cdn.tiny.cloud/1/ir6ae2m8q7l1nqxm97dq0ufkmcsj74aykm0dqlqtbp1w0bai/tinymce/8/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: '#article',
    language: 'pt_BR',
    language_url: '/tinymce/langs/pt_BR.js',
  });
</script>
