<%- include('../../partials/header.ejs')%>

<body>
  <%- include('../../partials/navbar.ejs')%>
  <div class="container">
    <div class="card mt-3">
      <div class="card-header"><h5>Novo Artigo:</h5></div>
      <div class="card-body">
        <form class="form-group" method="POST" action="/article/save">
          <input type="text" name="title" class="form-control" placeholder="Título Artigo" /><br />
          <textarea name="body" placeholder="Digite seu artigo" id="article"></textarea>
          <select class="form-control mt-3" name="category">
            <% categories.forEach(category => { %>
              <option value="<%= category.id %>"><%= category.title %></option>
            <% })%>
            </select>
          <button class="btn btn-warning mt-2" type="submit">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</body>

<%- include('../../partials/footer.ejs')%>
<script src="https://cdn.tiny.cloud/1/ir6ae2m8q7l1nqxm97dq0ufkmcsj74aykm0dqlqtbp1w0bai/tinymce/8/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: '#article',
    language: 'pt_BR',
    language_url: '/tinymce/langs/pt_BR.js',
  });
</script>
